{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in %}
    
    
{% block encabezado %}
    Fecha del sistema: {{ "now"|date("d/m/Y") }}<center><h3>Bienvenido Responsable</h3></center>
{% endblock %}
    
    {#{%set count=0%}  
      
    {% for entity in entities %}
        {%if entity.idDependenciaEstablecimiento == usuario.idDependenciaEstablecimiento%}
            {%set count=count+1%}
            
        {% endif %}
    {% endfor %}    
    
    {%if count>0 %}#}
        
        <div id="dialog">
        
        </div>
        
   {# {% endif %}#}
    

{#{%if entity.idDependenciaEstablecimiento == usuario.idDependenciaEstablecimiento%}#}
{#{{ entity.idDependenciaEstablecimiento == usuario.idDependenciaEstablecimiento ? "No tiene fecha asignada." : solicitud.fechaRequiere|date("Y-m-d H:i:s") }}#}

{% endblock %}
{% block javascripts_step %}
    <script>
        $(document).ready(function(){
             var estado= {{dependencias}};
                
             if(estado!=0)
                $('#dialog').attr('title','saved').text('Hay {{dependencias}} solicitudes Nuevas').dialog(); 
         
        });
    </script>
{% endblock %} 

