{% extends 'MinsalsifdaBundle::layoutSolicitante.html.twig' %}

{% block contenido_in -%}
    <center><h3>Sistema Informatico Apoyo a la Gestion de Flujos de Trabajo </h3></center>
    <center><h3>SIFDA </h3></center>

    {% block alert -%}
        {% if errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Error:</strong>
                    {% if (errors.message=="Bad credentials") %}
                            Usuario o contraseña invalidos
                    {% endif %}
        </div>

{% endif %}
{% endblock %}
    
    <div id="contenido">
        
        <form action="{% block form_action %}{{ path("sifda_fos_user_user_security_check") }}{% endblock %}" method="post" id="frmLogin">
        
        
        
        
        
        <center>
            <table>
                <tr>
                    <td>login:</td>
                    <td><input type="text" id="username"/></td>                   
                </tr> 
                
                <tr>
                    <td>pass:</td>
                    <td><input type="password" id="usepass"/></td>                                 
                </tr>
                
                <tr>
                    {#<td>&nbsp;</td>
                    <td><input type="submit" id="submit" class="btn btn-primary" value="Entrar"/></td>                                 #}
                    <td>
                        {% block auth_btn %}
                        <button type="submit" class="btn btn-primary" tabindex="3" id="frmSubmit">Sign in</button>
                        {% endblock %}
                        <input type="hidden" name="hacerSubmit" id="ihacerSubmit" value="">
                    </td>
                </tr>
            </table>
        </center>
        </form>
    </div>
    
{% endblock %}


{% block javascripts_login %}
<script>
$(document).ready(function(){ 
        //Tooltip que muestra mensaje de errores
    $("[rel=tooltip]").tooltip({ 
        placement: 'right',
        html:true,
        trigger: 'hover'
        
      });
    
    $('#frmSubmit').click(function(e){
        
        if($('#'))
        
    });
 });
 </script>
{% endblock %}

