{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <div class="page-header">
            <center><h3>Editar tipo de recurso por dependencia</h3></center>
            
        </div>
    

    {{ form(edit_form) }}
<center>
        <table id="botones">
            <tr>
                
                    <td>{{form_row(delete_form.submit,{'attr':{'class':'btn btn-primary'}})}}</td>
                
                <td>
                    <a href="{{ path('sifdatiporecursodependencia') }}" class="btn">Regresar</a>
                </td>
            </tr>    
        </table>
</center>
        
{% endblock %}
