{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <center><h3>Agregar Tipo de Recurso a Dependencia</h3></center>

    {{ form(form) }}

        <center>
   
        <a href="{{ path('sifdatiporecursodependencia') }}" class="btn">
            Regresar
        </a>
    
        </center>
{% endblock %}