{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <center><h3>Editar Tipos de Servicio</h3></center>

    {{ form(edit_form) }}
    <center>
        <table id="botones">
            <tr>
                
                    <td>{{form_row(delete_form.submit,{'attr':{'class':'btn btn-primary'}})}}</td>
                
                <td>
                    <a href="{{ path('sifdatiporecurso') }}" class="btn">Regresar</a>
                </td>
            </tr>    
        </table>
        </center>
{% endblock %}