{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <center><h3>Agregar Tipo de Recurso</h3></center>

    {{ form(form) }}

        
    <center>
            <table id="botones">
            <tr>
                <td><a href="{{ path('sifdatiporecurso') }}" class="btn">
                Regresar
            </a></td>
            </tr>    
            </table>
        </center>
{% endblock %}