{% spaceless %}
<div id="show_solicitudes">   
    <div class="bs-example">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Descripcion</th>
                    <th>Fecha de recepcion</th>
                    <th>Fecha que se requiere</th>
                    
                </tr>
            </thead>
            
            <tbody>{%for s in solicitudes%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{s.descripcion}}</td>
                    <td>{{s.fechaRecepcion|date('Y-m-d H:i:s')}}</td>
                    <td>{{s.fechaRequiere|date('Y-m-d')}}</td>
                    
                </tr>
                   {%endfor%}
            </tbody>
        </table>
    </div>
</div>        
{% endspaceless %}
